.taskWrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.taskWrapper:active .taskText {
  font-weight: 700;
}

@media (width >= 768px) {
  .taskWrapper:hover .taskText {
    font-weight: 700;
  }
}

.taskText {
  font-size: 1.5rem;
}

.taskTextCompleted {
  text-decoration: line-through;
  opacity: 0.7;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
