.taskWrapper {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.taskWrapper:active .taskName {
  font-weight: 700;
}

@media (width >= 768px) {
  .taskWrapper:hover .taskName {
    font-weight: 700;
  }
}

.taskName {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}
