.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: var(--background-color-button);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  color: inherit;
  transition: all 0.1s ease;
}

.btnDone:active {
  background-color: var(--color-primary);
  color: #fff;
}

.btnDelete:active {
  background-color: var(--color-danger);
  color: #fff;
}

@media (width >= 768px) {
  .btn {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }

  .btn:active {
    filter: brightness(0.85);
  }

  .btnDone:hover {
    background-color: var(--color-primary);
    color: #fff;
  }

  .btnDelete:hover {
    background-color: var(--color-danger);
    color: #fff;
  }
}
