.btn {
  padding: 0.5rem 1rem;
  background-color: var(--color-secondary);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.3rem;
  color: inherit;
  transition: all 0.1s ease;
}

.btnDone:active {
  background-color: var(--color-primary);
  color: #fff;
}

.btnDelete:active {
  background-color: var(--color-danger);
  color: #fff;
}

@media (width >= 768px) {
  .btn {
    padding: 0.5rem 2rem;
    cursor: pointer;
  }

  .btn:active {
    filter: brightness(0.85);
  }

  .btnDone:hover {
    background-color: var(--color-primary);
    color: #fff;
  }

  .btnDelete:hover {
    background-color: var(--color-danger);
    color: #fff;
  }
}
