.navbar {
  padding: 2rem 0;
  border-bottom: 1px solid var(--color-secondary);
}

.navContainer {
  width: 85%;
  margin-inline: auto;
}

.title {
  color: var(--text-color);
}

.logo {
  margin-right: 1rem;
  font-size: 1.4rem;
}

.text {
  font-size: 1.8rem;
  font-weight: 800;
}
