:root {
  --background-color: #f8fafc;
  --background-color-2: #f8fafc;
  --background-color-button: #e7edf3;
  --text-color: #10161d;
  --color-primary: #4056e4;
  --color-secondary: #d6dfea;
  --color-danger: #ff4d4f;
  --color-placeholder: #859db8;
  --border-radius: 0.7rem;
}

[data-theme="dark"] {
  --background-color: #111922;
  --background-color-2: #1a2532;
  --background-color-button: #243447;
  --text-color: #fff;
  --color-secondary: #2b3847;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

a,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}
