:root {
  --background-color: #f8fafc;
  --text-color: #10161d;
  --color-primary: #4c60dc;
  --color-secondary-1: #e7edf3;
  --color-secondary-2: #d6dfea;
  --color-white: #fff;
  --color-black: #000;
  --border-radius: 0.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
}
